name: CI

on:
  push:
    branches: [ "*" ]
  pull_request:

env:
  CARGO_TERM_COLOR: always

concurrency: 
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: cargo test default
        run: cargo test --all-targets
      - name: cargo test locking-rt
        run: cargo test --no-default-features --all-targets -F locking-rt
      - name: cargo test locking-rt-safe
        run: cargo test --no-default-features --all-targets -F locking-rt-safe
      - name: cargo test default full
        run: cargo test --all-targets -F full
      - name: cargo test locking-rt full
        run: cargo test --no-default-features --all-targets -F locking-rt,full
      - name: cargo test locking-rt-safe full
        run: cargo test --no-default-features --all-targets -F locking-rt-safe,full

  fmt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install rustfmt
        run: rustup component add rustfmt
      - name: cargo fmt
        run: cargo fmt --check
  clippy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install clippy
        run: rustup component add clippy
      - name: cargo clippy
        run: |
          cargo clippy -F full --all-targets -- \
          -W clippy::all -W clippy::pedantic \
          -A clippy::used-underscore-binding \
          -A clippy::doc_markdown \
          -A clippy::needless_pass_by_value \
          -A clippy::must_use_candidate \
          -A clippy::return_self_not_must_use \
          -A clippy::missing_errors_doc \
          -A clippy::single_match \
          -A clippy::uninlined_format_args \
          -A clippy::no_effect_underscore_binding
  derive-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: cargo test
        run: cd roboplc-derive && cargo test --verbose --all-features --all-targets
  derive-fmt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install rustfmt
        run: rustup component add rustfmt
      - name: cargo fmt
        run: cd roboplc-derive && cargo fmt --check
  derive-clippy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install clippy
        run: rustup component add clippy
      - name: cargo clippy
        run: |
          cd roboplc-derive && cargo clippy --all-targets -- -W clippy::all -W clippy::pedantic \
          -A clippy::used-underscore-binding \
          -A clippy::doc_markdown \
          -A clippy::needless_pass_by_value \
          -A clippy::must_use_candidate \
          -A clippy::return_self_not_must_use \
          -A clippy::missing_errors_doc \
          -A clippy::single_match \
          -A clippy::uninlined_format_args \
          -A clippy::no_effect_underscore_binding
  cli-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: cargo test
        run: cd roboplc-cli && cargo test --verbose --all-features --all-targets
  cli-fmt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install rustfmt
        run: rustup component add rustfmt
      - name: cargo fmt
        run: cd roboplc-cli && cargo fmt --check
  cli-clippy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install clippy
        run: rustup component add clippy
      - name: cargo clippy
        run: |
          cd roboplc-cli && cargo clippy --all-targets -- -W clippy::all -W clippy::pedantic \
          -A clippy::used-underscore-binding \
          -A clippy::doc_markdown \
          -A clippy::needless_pass_by_value \
          -A clippy::must_use_candidate \
          -A clippy::return_self_not_must_use \
          -A clippy::missing_errors_doc \
          -A clippy::single_match \
          -A clippy::uninlined_format_args \
          -A clippy::no_effect_underscore_binding
